*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #ffffff;
}

/* BLOG */

.blog{
    background-image: url(/pages/img/L10_Sillos_Final[1].webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    background-color: #18082E;
    height: 150vh;
    width: 100%;
}

.blog h2{
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    color: #EFBF04;
    font-weight: 900;
    font-size: xx-large;
    padding: 40px;
}
.card{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.blogcard{
    width: 390px;
    height: 310px;
    background-color: #2B0C52;
    border-radius: 30px;
    margin-top: 30px;
    transition: transform 0.75s;
}
.blogcard:hover{
    transform: scale(1.1);
}
.blogcard img{
    width: 390px;
    height: 200px;
    border-radius: 30px;
}
.blogcard h4{
    padding: 0 10px;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
}
.blogs{
    color: #ada3a3;
    font-size: medium;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}


/* footer */

.footer{
    color: #ffffff;
    background-color: #18082E;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
    height: 100%;
    width: auto;
}

.logo{
    text-decoration: none;
    margin-bottom: 15px;
}
.logo img{
    height: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.logo i{
    color: #ffffff;
    display: inline;
    justify-content: space-between;
    margin-right: 10px;
    text-decoration: none;
}
.links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.links h4{
    font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    margin: 20px 0px;
}
.links a{
    text-decoration: none;
    color: #ada3a3;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    margin: 10px 10px;
    
}
.links li{
    list-style-type: none;
}
.link-txt{
    display: block;
}
.link-txt img{
    margin: 0 0 50px 70px;

}
.link-txt button{
    display: flex;
    background-color: #EFBF04;
    color: #ffffff;
    font-weight: bold;
    border: 1px solid #ffffff;
    width: 170px;
    height: 30px;
    justify-content: center;
    align-items: center;
    margin: 7px 0 0px 55px;
}
.copyright {
    display: flex;
    justify-content: center;
    color: #ada3a3;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: smaller;
}
/* footer end */