* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #18082E;
}
button{
    cursor: pointer;
}
p{
color: #B7B7B7;
font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: small;
}
h2{
    color: #EFBF04;
    font-family: "Montserrat", sans-serif;


}
h3{
    color: #EFBF04;
    font-family: "Montserrat", sans-serif;
}
/* HOME PAGE */
.btn-primary button{
    background-color: #EFBF04;
    border: 3px solid #ffffff;
    border-radius: 50px;
    width: fit-content;
    height: 5vh;
    font-weight: bold;
    padding: 2px 20px;
    color: #ffffff;
}
.btn-second button{
   background-color: transparent;
   border: 3px solid #EFBF04;
   border-radius: 50px;
   height: 5vh;
   padding: 2px 20px;
   color: #EFBF04;
   font-weight: bolder;
}
.navbar-mb{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #18082E;
    padding:  0 2%;
}

.nav-content , .nav-btn{
    display: none;
}

.nav-content {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background-color: #18082E;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
.nav-content ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-content a{
 text-decoration: none;
    color:#ada3a3;
    font-size: 1rem;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
}
.nav-content.active {
  right: 0;
}

.nav-content .open-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.8rem;
  background: none;
  border: none;
}

.nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}

.nav-overlay.active {
  display: block;
}


.hero {
  background-image: url("/pages/img/Signupmobile.png");
  object-fit:contain;
  background-size: cover;
  background-repeat: no-repeat;     
  background-position: center;
  width: 100%;
  height: 70vh;                  
  display: flex;             
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;

}
.hero-text{
position: absolute;
top: 30%;
gap:20px;
height: 30vh;
display: flex;
flex-direction: column;

}
.hero-text h1{
color: white;
font-family: "BBH Sans Bogle", sans-serif;

  font-style: normal;
  letter-spacing: 1.5px;
}
.hero-text p{
    
}
.signupNow{
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
    
}
.logoS{
    background-image: url("/pages/img/logo2.png");
    height: 10vh;
    width: 15vw;
    object-fit: cover;
    background-size:cover; 
    background-repeat: no-repeat; 
        background-position: center;
    
     
}
.signupNow-card{
background-color: #290636;
border: 1px solid #B7B7B7;
width: 70%;
border-radius: 30px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height:100%;
gap: 5vh;
text-align: center;
}
.signupNow-txt{
    height: fit-content;
}
.desktop-only {
  display: none;
}
.mobile-only {
  display: block;
  padding-top: 5%;
}
/* GAMES */
.games{
    background-image: url(/pages/img/Signupmobile.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    text-align: center;
    
    padding: 0 2%;
}
.games-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}
.game-card{
    position: relative;
    overflow: hidden;
    flex: 0 0 45%;
    
}
.game-card img{
border:solid 1px #ada3a3;
width: 200px;
height: 250px;
display: block;
object-fit: cover;

}
.game-info{
    position: absolute;
    bottom: 10px;
    left: 10px;
    text-align: left;
    flex: 0 0 45%;
    
}
/* Games mb */

@media screen and (min-width: 769px) {
    /* HOMEPAGE DESKTOP */
  .open-menu,
  .close-menu{
    display: none !important;
  }
  .mobile-only {
    display: none !important;
  }

  .desktop-only {
    display: block;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    background-color: #18082E; 
    
    
  }


  .nav-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: static;
    right: auto;
    height: auto;
  }

.nav-btn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
    .nav-content ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .nav-content a {
    text-decoration: none;
    color:#ada3a3;
    font-size: 1rem;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;

  }
.hero{
    height: 80vh;
  width: 100%;
  background-image: url("/pages/img/squide.webp");


}
.hero h1{
    font-size: 80px;
}
.signupNow{
    height: 65vh;
}
/* HOME PAGE */
/* GAMES DESKTOP */
.games{
    background-image: url("/pages/img/squide.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    
}
.games-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 5%;
    
}
.game-card{
    width: 400px;
    flex: 0 0 22%;
    margin-bottom: 1%;
    
}
.games-card img{
    width: 100%;
    height: auto;
}

}

/* FOOTER */
.footer{
    color: #ffffff;
    background-color: #18082E;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
    height: 100%;
    width: auto;
}

.logo{
    text-decoration: none;
    margin-bottom: 15px;
}
.logo img{
    height: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.logo i{
    color: #ffffff;
    display: inline;
    justify-content: space-between;
    margin-right: 10px;
    text-decoration: none;
}
.links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.links h4{
    font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    margin: 20px 0px;
}
.links a{
    text-decoration: none;
    color: #ada3a3;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    margin: 10px 10px;
    
}
.links li{
    list-style-type: none;
}
.link-txt{
    display: block;
}
.link-txt img{
    margin: 0 0 50px 70px;

}
.link-txt button{
    display: flex;
    background-color: #EFBF04;
    color: #ffffff;
    font-weight: bold;
    border: 1px solid #ffffff;
    width: 170px;
    height: 30px;
    justify-content: center;
    align-items: center;
    margin: 7px 0 0px 55px
}
.copyright {
    display: flex;
    justify-content: center;
    color: #ada3a3;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: smaller;
}

/* footer */

/* Sing up start */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.signup-container {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 420px;

}

.signup-container h1 {
    font-size: 36px;
    text-align: center;
}

.signup-container .input-box {
    width: 100%;
    height: 50px;
    margin: 30px 0;
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: inter;
    color: #c9c6c6;
}

.input-box input::placeholder {
    color: #585858;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.signup-container .signin-link {

    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}




.signupbg {
    width: 100%;
    height: 100vh;
    background-image: url('/pages/img/Signupmobile.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-container {
    background: rgb(196 155 214 / 15%);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 40px;
    width: 450px;
}

.signup-container h1 {
    text-align: center;
    color: #EFBF04;
    margin-bottom: 20px;
}

.input-box {
    width: 100%;
    margin: 15px 0;
}

.input-box input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #2B2B2B;
    font-size: 16px;
}

.signbtn {
    width: 100%;
    background-color: #EFBF04;
    border: none;
    color: #000000;
    font-weight: bold;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    height: 45px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.signbtn:hover {
    background-color: #d9a903;
}

.signin-link{
    padding: 40px;
    padding-left: 70px;
    
}
.signin-link p{
display: flex;
color: #fff;


}

.continue {
    text-align: center;
    color: #fff;
}


.social-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.social-buttons button {
    display: flex;
    align-items: center;
    gap: 6px;
    background: #222222;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
}

/* Sing up End */